<?xml version="1.0" encoding="utf-8"?>

<Configuration>
  <!-- 这个 Instance 标签是需要复制到 Photon 的 PhotonServer.config 里的，外面的不需要复制，留着外面的是为了方便对比确认复制到哪个层级 -->
  <Instance Name="Cu-Birds-Online"
    MaxMessageSize="512000"
    MaxQueuedDataPerPeer="512000"
    PerPeerMaxReliableDataInTransit="51200"
    PerPeerTransmitRateLimitKBSec="256"
    PerPeerTransmitRatePeriodMilliseconds="200"
    MinimumTimeout="5000"
    MaximumTimeout="30000"
    DisplayName="Cu-Birds-Online">

    <!-- 0.0.0.0 opens listeners on all available IPs. Machines with multiple IPs should define the correct one here. -->
    <!-- Port 5055 is Photon's default for UDP connections. -->
    <UDPListeners>
      <UDPListener
        IPAddress="0.0.0.0"
        Port="5056"
        OverrideApplication="Game">
      </UDPListener>
      <UDPListener
        IPAddress="0.0.0.0"
        Port="27002"
        OverrideApplication="Game">
      </UDPListener>
    </UDPListeners>

    <!-- 0.0.0.0 opens listeners on all available IPs. Machines with multiple IPs should define the correct one here. -->
    <TCPListeners>
      <TCPListener
        IPAddress="0.0.0.0"
        Port="4531"
        OverrideApplication="Game"
        InactivityTimeout="10000">
      </TCPListener>

      <!-- DON'T EDIT THIS. TCP listener for GameServers on Master application -->
      <TCPListener
        IPAddress="0.0.0.0"
        Port="4520">
      </TCPListener>
    </TCPListeners>

    <HTTPListeners>
      <HTTPListener
        Name="*:[PORT]::Game"
        IPAddress="0.0.0.0"
        Port="9091"
        DisableNagle="true"
        InactivityTimeout="10000"
        AppDataInactivityTimeout="15000">
        <Routing>
          <Route
            Url="/*"
            OverrideApplication="Game"
            PingEvery="2000"
            PeerType="WebSocket"
            Counters="false"
          />
        </Routing>
      </HTTPListener>
    </HTTPListeners>


    <!-- Defines the Photon Runtime Assembly to use. -->
    <Runtime
      Assembly="PhotonHostRuntime, Culture=neutral"
      Type="PhotonHostRuntime.PhotonDomainManager"
      UnhandledExceptionPolicy="TerminateProcess">
    </Runtime>


    <!-- Defines which applications are loaded on start and which of them is used by default. Make sure the default application is defined. -->
    <!-- Application-folders must be located in the same folder as the bin_Win64 folders. The BaseDirectory must include a "bin" folder. -->
    <Applications Default="Game">
      <!-- Application：一个APP的设置
        Name：这个 APP 的名称
        BaseDirectory：这个 APP 编译后文件所在的根目录，就是编译后复制到 Photon 的 deploy 中的哪个文件夹里了
        Assembly：程序集的名称，在项目设置里能看到的那个程序集名称
        Type：主类，包括命名空间
       -->
      <Application
        Name="Game"
				BaseDirectory="Cu-Birds-Online"
				Assembly="Cubirds-Online-Backend"
				Type="CubirdsOnline.Backend.CubirdServer"
        >
      </Application>
    </Applications>
  </Instance>

</Configuration>
